/* #nav {
    background-color: aquamarine;
    width: 100%;
}

#naiss {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#cov {
    float: right;
}

#drap {
    float: right;
    margin-top: -350px;
    margin-left: 70px;
    height: 50px;
    width: 50px;
} */

body {
    background-color: aqua;
}


/* #form1 {
    float: left;
    height: 50%;
    width: 50%;
}

#form2 {
    float: right;
} */