* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    
}

button {
    cursor: pointer;
}


nav {
    height: 40px;
    width: 94%;
    margin: 10px 3%;
    display: flex !important;
    justify-content: space-between;
    background: #3D775E;
    align-items: center;
}

nav button {
    height: 30px;
    width: 80px;
    outline: none;
    border-radius: 5px;
    background: #D7303A;
    color: white;
    border: none;
    margin: 0px 40px;
    padding: 5px
}

.search {
    height: 30px;
    width: 30%;
    background: #fff;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 40px
}

.search input {
    height: 100%;
    border: none;
    width: 80%;
    outline: none;
    margin: 0 20px;
    font-size: 16px
}

article {
    height: 500px;
    width: 90%;
    margin: 10px 5%;
    overflow: auto;
}

article::-webkit-scrollbar {
    width: 5px;
}

article::-webkit-scrollbar-thumb {
    background: #4285f4;
}


article table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    text-align: center !important;
    font-size: 15px;
    margin: 15px 0 !important;
}


tr:first-child {
    margin-bottom: 50px;
    color: #4285f4;
}

td {
    color: #555;
    height: 50px;
}

td button {
    outline: none;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 5px;
}

td button:first-child {
    background: #D7303A;

}

td:last-child button {
    background: #3D775E;

}


.modal {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: none;
}

.pop {
    background: rgb(0, 0, 0, 0.1);
    position: fixed;
    border-radius: 5px;
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop form {
    border: 2px solid #FFC813;
    background: white;
    width: 50%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 5px #FFC813;
    overflow: auto;
    animation: zoomout 0.5s;
}

.page {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

header h3 {
    margin-top: 2px;
    color: #7c795d; font-family: 'Trocchi', serif; 
    font-weight: normal; 
    line-height: 48px; 
    text-align: center;
}

.page-num {
    border: 2px solid #D7303A;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pageNumber {
    display: flex;
    justify-content: space-around;
}

.active {
    color: white;
    background-color: #0F823C;
}



@keyframes zoomout {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

@keyframes zoomin {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(0)
    }
}

.pop form::-webkit-scrollbar {
    width: 5px;
}

.pop form::-webkit-scrollbar-thumb {
    background: #FF8A65;
}


.input {
    height: 40px;
    width: 80%;
    margin: 5px 0px;
    position: relative;

}

.input input,select {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding: 5px;
    font: 20px;
    color: #555;
    text-transform: capitalize;
    font-weight: bold;
}

.input label {
    color: #81abf0;
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 17px;
    transition: 0.5s;
    pointer-events: none;
    cursor: pointer;
}

.input input:focus~label,
.input input:valid~label {
    top: -20px;
    color: #4285f4;
    font-size: 16px;
    font-style: italic;

}

.close-modal {
    width: 100%;
    text-align: end;
}

.close-modal span {
    margin: 10px 20px;
    font-size: 30px;
    cursor: pointer;
}

.close-modal span:hover {
    color: #D7303A;
}

.submitbtn {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 80%;

}

.submitbtn button {
    height: 30px;
    width: 40%;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
}

.submitbtn button:first-child {

    background: #D7303A;
}

.submitbtn button:nth-child(2) {

    background: #3D775E;
}

.alert {
    width: 100%;
    justify-content: center;
    display: none;
}