<!DOCrequired TYPE html>
    <html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard Administrateur</title>
        <link rel="stylesheet" th:href="@{/css/utilisateur1.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"
            required type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>

        <!--wrapper start-->
        <div class="wrapper">
            <!--header start-->
            <div class="header">
                <div class="header-menu">
                    <div class="title">Super<span>Admin</span></div>
                    <!-- <div class="sidebar-btn">
                    <i class="fas fa-bars"></i>
                </div> -->
                    <ul>
                        <li><a class="menu-icon" href=""><i class="fas fa-search"></i></a></li>
                        <li><a class="menu-icon" href=""><i class="fas fa-bell"></i></a></li>
                        <li><a class="menu-icon" href=""><i class="fas fa-power-off"></i></a></li>
                    </ul>
                </div>
            </div>
            <!--header menu end-->
            <!--sidebar start-->
            <div class="sidebar">
                <div class="sidebar-menu">
                    <center class="profile">
                        <img th:src="@{/images/default-admin.png}" alt="">
                        <p>Administrateur</p>
                    </center>
                    <li class="item">
                        <a href="#dash" class="menu-btn" data-toggle="tab">
                            <i class="fas fa-desktop"></i><span>Dashboard</span>
                        </a>
                    </li>
                    <li class="item" id="profile">
                        <a href="#profile" class="menu-btn">
                            <i class="fas fa-user-circle"></i><span>Profile <i
                                    class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a href="#"><i class="fas fa-image"></i><span>Picture</span></a>
                            <a href="#"><i class="fas fa-address-card"></i><span>Info</span></a>
                        </div>
                    </li>
                    <li class="item" id="acte">
                        <a href="#profile" class="menu-btn">
                            <i class="fas fa-envelope"></i><span>Gestion des Actes<i
                                    class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <ul>
                                <li><a th:href="@{/naisance}"><i class="fas font-family"></i><span>naissance</span></a>
                                </li>
                                <li><a th:href="@{/mariage}"><i class="fas font-family"></i><span>mariage</span></a></li>
                                <li><a th:href="@{/deces}"><i class="fas font-family"></i><span>deces</span></a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="item" id="marie">
                        <a href="#profile" class="menu-btn">
                            <i class="fas fa-image"></i><span>Gestion des mairie<i
                                    class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a th:href="@{/mairie}"><i class="fas fa-lock"></i><span>Ajouter une mairie</span></a>
                         
                        </div>
                    </li>
                    <li class="item" id="user">
                        <a href="#profile" class="menu-btn">
                            <i class="fas fa-user-circle"></i><span>Gestion des Admin<i
                                    class="fas fa-chevron-down drop-down"></i></span>
                        </a>
                        <div class="sub-menu">
                            <a th:href="@{/admin}"><i class="fas fa-lock"><span>Ajouter un Administrateur</span></i></a>
                            <a href="#"><i class="fas fa-lock"><span>consulter</span></i></a>
                        </div>
                    </li>
                </div>
            </div>
            <!--sidebar end-->
            <!--main container start-->
            <div class="main-container tab-content" style="display: block;">

                <div class="modal">
                    <div class="pop">
                        <form method="post" th:action="@{/saveDeath}" th:object="${death}">
                            <div class="close-modal">
                                <span>&times;</span>
                            </div>
                            <header>
                                <h3>ENREGISTRER UN DECES </h3>
                                <div id="pageNumber">

                                </div>
                            </header>

                            <div class="page" id="page1">
                                <h4>Identité du defunt</h4>
                                <div class="input">
                                    <input th:field="*{nomDecede}" required type="text" id="nom">
                                    <label for="nom">nom du defunt</label>
                                </div>
                                <div class="input">
                                    <input th:field="*{lieuDeces}" required type="text" id="lieu">
                                    <label for="lieu">lieu du deces</label>
                                </div>
                                <div class="input">
                                    <input th:field="*{ageDecede}" required type="number" id="age">
                                    <label for="age">age du defunt</label>
                                </div>
                                <div class="input">
                                    <input th:field="*{domicileDecede}" required type="text" id="lieu">
                                    <label for="domicil">lieu du domicil du defunt</label>
                                </div>
                                <div class="submitbtn">
                                    <button class="next" type="button">Suivant</button>
                                </div>
                            </div>

                            <div class="page" id="page2">
                                <h4>Identité sur les parent du defunt</h4>
                                <div class="input">
                                    <input th:field="*{pere.nomPers}" required type="text" id="pere">
                                    <label for="nom pere">nom du pere du defunt</label>
                                </div>
                                <div class="input">
                                    <input th:field="*{pere.lieuResidence}" required  type="text" id="pere">
                                    <label for="domicilié">lieu domicil du pere</label>
                                </div>
                                <div class="input">
                                    <input th:field="*{mere.nomPers}" type="text" id="mere">
                                    <label for="nom mere">nom de la mere du defunt</label>
                                </div>
                                <div class="input">
                                    <input th:field="*{mere.lieuResidence}" required  type="text" id="mere">
                                    <label for="domicilié">lieu domicil de la mère</label>

                                </div>
                                <div class="submitbtn">
                                    <button class="prev" type="button">Précédent</button>
                                    <button class="next" type="button">Suivant</button>
                                </div>
                            </div>

                            <div class="page" id="page3">
                                <h4>informations generale sur l'acte et la mairie</h4>
                                <div class="input">
                                    <input th:field="*{dateFabriqueActe}" type="date" class="form-control" id="date">
                                    <label for="dresse">acte dressé le</label>
                                </div>
                                <div class="input">
                                    <input th:field="*{nomDeclarant}" type="text" id="declar">
                                    <label for="declaration">nom declarant</label>

                                </div> 
                                <div class="input">
                                    <label for="etat civil">nom du centre d'etat civil</label>
                                	<br/>
                                	<select th:field="*{commune}">
                                     	<option th:each="commune : ${communeList}" th:value="${commune.id_commune}" th:text="${commune.nomCommune}"></option>
                                     </select >
                                </div>

                                <div class="submitbtn">
                                    <button class="prev" type="button">Précédent</button>
                                    <button type="submit" class="fin">Terminer</button>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>

                <header>
                    <h3>Gestion des Deces </h3>
                </header>
                <nav>
                    <button class="js_addbtn">+ Ajouter</button>
                    <div class="search">
                        <i class="fa fa-search"></i>
                        <input required type="text" placeholder="Rechercher" id="search">
                    </div>
                </nav>
                <div class="flex-row" style="margin-top: 20px;">
                    <article>
                        <table id="tab">
                            <thead>
                                <tr>
                                	<th>Numero</th>
                                    <th>Nom</th>
                                    <th >Lieu de Deces</th>
                                    <th>Age du decede </th>
                                    <th>Nom du pere</th>
                                    <th>Nom de la mere</th>
                                    <th colspan="2">
                                        action
                                    </th>
                                </tr>
                            </thead>
                            <tr th:each="death : ${deathList}">
							<td th:text="${death.id}"></td>
							<td th:text="${death.nomDecede}"></td>
							<td th:text="${death.ageDecede}"></td>
							<td th:text="${death.pere.nomPers}"></td>
							<td th:text="${death.mere.nomPers}"></td>
							<td><a 
									th:href="@{/deleteDeath/{id}(id=${death.id})}"
									id="d" class="btn btn-danger">Suprimer
							</a></td>
							<td><a
								href="#"
								id="d" class="btn btn-success">editer</a></td>
						</tr>
                        </table>

                    </article>
                </div>

            </div>
            <!--main container end-->
        </div>
        <!--wrapper end-->

        <script required type="text/javascript" th:src="@{/js/script.js}">
        </script>


    </body>

    </html>